.block{
    display: block;
}
.mar-bot5{
    margin-bottom: 5px;
}
.mar-bot10{
    margin-bottom: 10px;
}
.mar-bot20{
    margin-bottom: 20px;
}
.margin-top-20{
    margin-top: 20px;
}
.margin-top-40{
    margin-top: 40px;
}
.margin0{
    margin: 0px;
}
#homePageLoginForm h4{
    font-size: 20px;
    font-weight: bold;
}
#homePageLoginForm .title-head{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
}
input[type=checkbox], input[type=radio]{
    width: 22px !important;
    height: 18px;
    background: none;
    box-shadow: none;
    border: none;
    display: inline-block;
    vertical-align: middle;
    margin: 0px;
}
button:focus{
    outline: none;
}
#homePageLoginForm .col-sm-6{
    border-right: 1px solid #e8e8e8;
}
#homePageLoginForm .col-sm-6 + .col-sm-6{
    border-right: none;
}
.dataTables_paginate ul{
    list-style-type: none;
}
.dataTables_paginate li{
    float: left;
    margin: 0 5px;
}
.bootstrap-iso .input-group{
    display: inherit;
}
.bootstrap-iso .input-group span{
    display: inline-block;
    margin-right: 10px;
}
.bootstrap-iso .input-group .form-control{
    width: 200px;
    float: none;
    margin-bottom: 10px;
    margin-right: 10px;
}
.navbar-default{
    background: transparent;
    border: none;
}
.page-title{
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 10px;
    margin-bottom: 20px;
    margin-top: 0px;
    font-weight: bold;
}
.navbar-default .navbar-toggle .icon-bar{
    background: #888 !important;
}
.nav-pills>li>a{
    font-size: 14px;
    padding: 4px 12px;
}
#loaderDivBookmarks img,
#loaderDivClicks img,
#loaderDivReviews img{
    width: 50px !important;
}
#loaderDivBookmarks,
#loaderDivClicks,
#loaderDivReviews{
    text-align: center;
}
.tokenfield .token-input{
    border: 1px solid #ccc !important;
}
.token-input{
    min-width: 100% !important;
    max-width: 100% !important;
    padding: 10px 5px !important;
}
.multiselect-native-select .btn-group{
    width: 100% !important;
}
.jFiler-item ul{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    

}
.jFiler-item ul li{
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}
.jFiler-item ul:before{
    content: "";
    background: rgba(0, 0, 0, 0.44);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: none;
    
    transition: all 3s ease-in-out 0.5s;
    -webkit-transition: all 3s ease-in-out 0.5s;
}
.jFiler-items-grid .jFiler-item .jFiler-item-container .jFiler-item-assets{
    margin-top: 0px;
}
.icon-jfi-trash{
    color: #FFF !important;
    text-decoration: none !important;
}
.jFiler-item-container:hover ul li,
.jFiler-item-container:hover ul:before{
    display: block;
}
.img-behind{
    position: absolute;
    top: -43px;
    z-index: -1;
    left: 30px;
}


.gray-bg{
    background: #e8e8e8;
}
.package,
.overview{
    border: 1px solid #d8d8d8;
    text-align: center;
}
.package h4{
    background: #017DC5;
    color: #fff;
    padding: 15px 35px;
}
.package span{
    padding: 14px 2px;
    display: inline-block;
    
}
.overview{
    padding: 20px;
    background: #ececec;
}
.overview h4{
    font-weight: 600;
    color: #017DC5;
}
.overview span{
    font-weight: 600;
    font-size: 20px;
}
.overview span + span{
    font-weight: normal;
    font-size: 13px;
}
.travel-less-item{
    cursor: pointer;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover,
.navbar .nav>li.open>a,
.navbar .nav>li>a:focus,
.navbar .nav>li>a:hover{
    background: #017DC5 !important;
    color: #FFF !important;
}

.empty-space-40{
    height: 40px;
}
.banner-top{
    padding: 30px 0px;
}
.know-more .top-title-line{
    margin: 0 auto 20px;
}

.top-title-line{
    height: 2px;
    margin: 0 auto;
}
.top-title-line.left{
    margin: initial;
}
.top-title{
    margin-bottom: 20px;
}

.btn-primary{
    background-color: #017dc5;
    border-color: #017dc5;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open>.dropdown-toggle.btn-primary.focus,
.open>.dropdown-toggle.btn-primary:focus,
.open>.dropdown-toggle.btn-primary:hover{
    background-color: #0469a2;
    border-color: #0469a2;
    outline: none;
}
.header1{
    margin-bottom: 20px;
    border-bottom: 1px solid #d0d0d0;
}
.header-inner{
    display: table;
    width: 100%;
}
.header-inner .header-logo,
.header-inner .header-links{
    display: table-cell;
    vertical-align: middle;
}

.header-inner .header-links{
    text-align: right;
}
.header-inner .header-links li{
    list-style-type: none;
    display: inline-block;
}


.min-hight{
    padding-bottom: 40px;
}
.post{
    border-bottom: 1px solid #d0d0d0;
    padding-bottom: 20px;
}
.post:last-child{
    border-bottom: none;
}


.searchbox{
    background: #f5f5f5;
    padding: 15px;
    margin-bottom: 20px;
}
.searchbox .top-details{
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #d8d8d8;
}
.searchbox .ratings{
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    display: block;
    margin: 10px auto 0px;
    background: green;
    color: #FFF;
    font-size: 18px;
}
.searchbox .review{
    display: block;
    text-align: center;
}

img{
    max-width: 100%;
}
.top-details img{
    width: 165px;
}
.bot-details img{
    width: 70px;
}
.top-details h4,
.bot-details h4{
    font-size: 22px;
    font-weight: bold;
}
.top-details span{
    font-size: 18px;
    margin-bottom: 10px;
    display: block;
}
.top-details span.category{
    font-size: 18px;
    color: #989696;
}
.bot-details span{
    display: block;
}
.bot-details ul{
    margin: 0;
    padding: 0;
}
.bot-details li{
    list-style-type: none;
    display: inline-block;
    margin-right: 10px;
}

.reachus ul{
    padding: 0;
}
.reachus li{
    margin-bottom: 7px;
    font-size: 15px;
    position: relative;
    padding: 0 !important;
    padding-left: 25px !important;
}
.reachus li i{
    /* margin-right: 5px; */
    position: absolute;
    left: 0;
    top: 3px;
    vertical-align: middle;
    font-size: 18px;
    /* text-align: center; */
}


@media (min-width: 768px){
    .navbar-nav>li{
	padding: 14px 0px !important;
    }
    .navbar-nav>li>a{
	padding: 10px 14px !important;
    }
    .know-more .col-sm-2{
	width: 20%;
	margin: 20px 0px;
    }
}

@media (max-width: 767px){
    .top-details,
    .bot-details{
	text-align: center;
    }
}

@media only screen and (max-width: 1379px) and (min-width: 1200px){
    .mobile-screen {
	width: 48.5%;
	left: 112px;
	top: 75.5px;
    }
}
@media only screen and (max-width: 1199px) and (min-width: 991px){
    .mobile-screen {
	width: 59.2%;
	left: 79px;
	top: 75.5px;
    }
}
@media only screen and (max-width: 990px) and (min-width: 768px){
    .mobile-screen {
	width: 24.2%;
	left: 292px;
	top: 75.5px;
    }
}
@media only screen and (max-width: 767px) and (min-width: 320px){
    .mobile-screen {
	width: 57.9%;
	left: 82px;
	top: 75.5px;
    }
}

