body{font-family: 'Source Sans Pro', sans-serif;; font-size: 14px; /*background-color:#F3F3F3 !important;*/ }
.m-0{margin: 0px;}
.m-t-0{margin-top: 0px;}
.m-t-5{margin-top: 5px;}
.m-t-10{margin-top: 10px;}
.m-t-15{margin-top: 15px;}
.m-t-20{margin-top: 20px;}
.m-b-0{margin-bottom: 0px;}
.m-b-5{margin-bottom: 5px;}
.m-b-10{margin-bottom: 10px;}
.m-b-15{margin-bottom: 15px;}
.m-b-20{margin-bottom: 20px;}
.m-l-0{margin-left: 0px;}
.m-l-5{margin-left: 5px;}
.m-l-10{margin-left: 10px;}
.m-r-0{margin-right: 0px;}
.m-r-5{margin-right: 5px;}
.m-r-10{margin-right: 10px;}
.m-t-b-0{margin-top: 0px;margin-bottom: 0px;}
.m-t-b-5{margin: 5px 0px;}
.m-t-b-10{margin: 10px 0px;}
.p-0{padding: 0px;}
.p-10{padding: 10px;}
.p-20{padding: 20px;}
.p-t-0{padding-top: 0px;}
.p-t-5{padding-top:5px;}
.p-t-10{padding-top: 10px;}
.p-t-15{padding-top: 15px;}
.p-t-20{padding-top: 20px;}
.p-b-0{padding-bottom: 0px;}
.p-b-5{padding-bottom: 5px;}
.p-b-10{padding-bottom: 10px;}
.p-b-15{padding-bottom: 15px;}
.p-b-20{padding-bottom: 20px;}
.p-l-0{padding-left: 0px;}
.p-l-5{padding-left: 5px;}
.p-l-10{padding-left: 10px;}
.p-r-0{padding-right: 0px;}
.p-r-5{padding-right: 5px;}
.p-r-10{padding-right: 10px;}
.p-t-b-0{padding-bottom: 0;padding-top: 0px;}
.p-t-b-5{padding: 5px 0px;}
.p-t-b-10{padding: 10px 0px;}
.font-10{font-size: 10px;}
.font-12{font-size: 12px;}
.font-14{font-size: 14px;}
.font-16{font-size: 16px;}
.font-18{font-size: 18px;}
.font-20{font-size: 20px;}
.font-24{font-size: 24px;}
.font-26{font-size: 26px;}
.font-36{font-size: 36px;}
.line-h-30{ line-height:30px}
.line-h-24{ line-height:24px}
.font-w-300{font-weight: 300;}
.font-w-400{font-weight: 400;}
.font-w-500{font-weight: 500;}
.font-w-600{font-weight: 600;}
.font-w-bold{ font-weight:bold}
.text-upper{ text-transform:uppercase}
a:focus{outline: none;}
.bg-white{background-color: #FFF;}
.color-white{ color:#fff}
.text-center{ text-align:center}
.empty-space-50{ height:50px;}
.empty-space-70{ height:70px;}
.empty-space-60{ height:60px;}

/*--------------- header navigation ---------------*/
a.logo img {width: 130px;margin: 0 auto;}
.banner-header-search a{background-color: #017dc5;border-color: #017dc5;}
.banner-header-search ul{ list-style: none; }
.banner-header-search ul li{display: inline-block; }

/*--------------- banner-section ---------------*/
.banner-section{ background:url(../img/section-1-bg.jpg)no-repeat center 57%; background-size:cover;}
.banner-top ul{ list-style: none; }
.banner-top{width: 100%;display: table; padding: 100px 0; margin: 0 auto}
.banner-top h1{letter-spacing: 2px}
#search {position: relative;font-size: 18px;padding-top: 20px;margin: 0px auto;display: table;width: 80%;}
#search label {position: absolute;left: 17px;top: 50%;color: #666;margin-top: -3px;}
#search #search-input{padding-left: 43px;padding-right: 43px;border-radius: 23px;width: 80%;float: left;}
#search button{width: 19%;border-radius: 23px;	float: right;}

/*----------------- testimonials section ----------------*/
.about-us{background: url(../img/about-us.jpg) no-repeat center; background-size: cover; padding: 50px 0;}
.about-us-top{ color: #fff; }
.about-us-top h3{border:1px solid #fff;padding: 20px; margin-bottom: 40px; text-align: center;}
.curabitur-nec{ background-color: #1d2025; }
.curabitur-contain{ width: 70%; margin: 0 auto; text-align: center; color: #fff; padding: 50px 0 70px;  }
.curabitur-contain p{ font-style: italic; font-size: 18px; line-height: 24px; font-weight: 300; margin: 30px 0 0}
.curabitur-contain h2{ font-size: 36px; font-weight: 300; margin: 30px 0 0; border:1px solid #fff; padding: 20px}
.curabitur-contain h2 span{font-size: 26px;}
.curabitur-box {-ms-transform: rotate(46deg);-webkit-transform: rotate(46deg);transform: rotate(46deg);border: 1px solid #fff; width: 70px;height: 70px;text-align: center;margin: 0 auto;margin-top: 20px;padding-top: 18px;margin-bottom: 20px;}
.curabitur-box img {width: auto;-ms-transform: rotate(-46deg);-webkit-transform: rotate(-46deg);transform: rotate(-46deg);}

.modal-content .modal-body input{width: 100%;padding: 10px 15px;}

/*----------------- travel less section ----------------*/
.travel-less-contain {margin-top: 20px;}
.travel-less-item {
    height: 50px;
    overflow: hidden;
    position: relative;
    margin: 5px 0;
    /*background-color: #dad9d9;*/
    background-color: #FFFFFF;
    padding: 0px 15px;
    display: table;
    width: 100%;
    }
.travel-less-item-img {display: table-cell;/* width: 11%; *//* line-height: 50px; *//* margin-top: 10px; */vertical-align: middle;width: 12%;}
.item-contain{display: table-cell;vertical-align: middle;}
.item-contain p {
    font-size: 19px;
    /* padding-top: 10px; */
    padding-left: 10px;
    margin-bottom: 0;
   }
.travel-less-item-img img {
    /* height: 50px; */
    /* width: 50%; */
}


.testimonials{background: url(../img/Testimonials-Background.jpg) no-repeat center; background-size:  cover;}
.testimonials-text{ color: #fff; }
.testimonials-text h3{ margin-top: 0px; }
.testimonials-user-img img{ width: 100%; }
.testimonials-user-img{ width: 220px; margin: 0 auto; margin-top: 20px; margin-bottom: 20px;}
.testimonials-banner-text h3, .testimonials-banner-text span{font-style: italic;}
.testimonials-banner-text p{font-style: italic; margin-top: 10px;}
.testimonials-1 .owl-controls .owl-page span{ background-color:#fff; opacity:1}
.testimonials-1 .owl-controls .owl-page.active span{background: transparent; border: 3px solid #fff;}
.testimonials-1 .owl-buttons {position: absolute;width: 100%; top: -190px;}
.testimonials-1 .owl-prev, .testimonials-1 .owl-next{ width: 40px; height: 40px; }
.testimonials-1 .owl-prev{ background: url(../img/owl-prev.png) no-repeat center; float: left;}
.testimonials-1 .owl-next{background: url(../img/owl-next.png) no-repeat center; float: right;}
.testimonials-1 .owl-controls{position: relative;}
.testimonials-text .top-title-line {margin: 20px auto;}
.looking-visa-contain .text-center img.img-responsive{margin: 0 auto}
.looking-visa-right{padding-top: 70px;}
.looking-visa-contain .form-inline .form-group, .looking-visa-contain .form-inline .form-group .input-group{width: 100%;}
.looking-visa-contain .input-group-addon{width: 1% !important}
.looking-visa-right .top-title-line {margin-bottom: 20px;}
.mobile-screen-box {position: relative;}
.mobile-screen {position: absolute;top: 61px;width: 57%;left: 77px}

/*--------------- footer section ---------------*/
.contact-us{ background: url(../img/map.png) no-repeat center; background-size: cover;min-height: 700px; }
.event-location .top-title-line{border-color: #666;margin-left: 0;margin-bottom: 30px;}
.event-location{color: #666; margin-top: 100px;}

/*--------------- footer section ---------------*/
#footer{ background-color: #252b30;color: #3f484e;position: relative;}
.go-to-top{position: absolute;right: 50px;top: -28px;}
.social-media{padding: 35px 0;text-align: right;}
.social-media ul{list-style: none;}
.social-media ul li{ display: inline-block; }
.social-media ul li a i{ color:  #a1a3a5;font-size: 30px; margin: 0 20px; }
.social-media ul li a:hover i{ color: #fff; }
.footer-logo img{ margin: 0 auto }
.footer-middle-path ul{ list-style: none; font-size: 12px}
.footer-middle-path ul li{padding: 3px 0;}
.footer-nav a{ text-decoration: none;font-size: 14px; color: #f1f1f1; text-transform: uppercase;}
.footer-nav li:first-child a{}
.footer-nav li p{padding-left: 0px}
.footer-nav li:last-child p{}
.footer-nav a:hover{ color: #fff;}
.footer-nav p{ color: #fff;margin: 0px}
.footer-nav{margin-top: 30px;border-right: 3px solid #fff;}
.footer-bottom { padding: 0 0 30px;color: #c7c7c7;}
.reach-at{color: #f1f1f1}
.top-title-line {width: 100px;background-color: #017dc5;height: 5px;}
.footer-middle-path .top-title-line {margin-bottom: 20px;}
.footer-middle-path {border-top: 1px solid #5a5a5a;border-bottom: 1px solid #5a5a5a;padding-bottom: 30px; margin-bottom: 30px;}




/*--------------- search results section ---------------*/
section.search-results-section {background-color: #fff;}
.search-results-item { background-color: #f1f1f1;width: 100%;display: table;padding: 20px;border: 1px solid #cccccc;margin-bottom: 30px;}
.search-results-top-img {width: 11%;float: left;}
.top-right-contain {width: 70%;float: left;padding-left: 15px;}
.Reviews {width: 15%;float: right;text-align: center;}
.top-right-contain p{color: #000;}
.top-right-contain p:last-child{color: #666;}
.search-results-item:last-child{margin-bottom: 0px;}
.rating {width: 40px;height: 40px;background-color: #23b155;color: #fff;margin: 0 auto;padding-top: 6px;}	
.search-results-item-top {width: 100%;display: table;padding-bottom: 15px;border-bottom: 1px solid #ccc;}
.results-item-bottom-left {width: 20%;float: left;}
.results-item-bottom-right {width: 80%;float: left;}
.results-item-bottom-right ul{list-style: none;}
.results-item-bottom-right ul li{display: inline-block;width: 100px;margin-right: 10px;}



{-webkit-transition: 0.1s all linear;-moz-transition: 0.1s all linear; -ms-transition: 0.1s all linear;-o-transition: 0.1s all linear; transition: 0.1s all linear;}


/*----------------- media section ----------------*/
@media only screen and (min-width: 1500px) and (max-width: 1920px){

}

@media only screen and (min-width: 1380px) and (max-width: 1499px){
}

@media only screen and (min-width: 1025px) and (max-width: 1379px){
	.mobile-screen {width: 70%;left: 44px;}
}

@media only screen and (min-width: 991px) and (max-width: 1024px){
	.mobile-screen {width: 70%;left: 44px;}
}

@media only screen and (min-width: 768px) and (max-width: 990px){
	.mobile-screen {width: 28.5%;left: 257px;}
	.social-media {padding: 15px 0;}
	.social-media ul li a i {font-size: 20px;margin: 0 15px;}
}

@media only screen and (min-width: 480px) and (max-width: 766px){
	.mobile-screen {width: 68%;left: 47px}
	.looking-visa-right .col-sm-4.col-xs-4{padding: 0;margin-left: 15px;}
	.footer-logo img{width: 50%;}
	.social-media {text-align: center;}
	.footer-nav{border: 0px;}
	.mobile-screen-box {width: 300px;margin: 0 auto;}
	.empty-space-70 {height: 40px;}
	.go-to-top{right: 20px}
	#search #search-input, #search button{float: none;margin: 0 auto;}
	#search #search-input{margin-bottom: 20px;}
	#search label{left: 14%;}
	#search button{width: auto;}
}

@media only screen and (min-width: 320px) and (max-width: 479px){
	.mobile-screen {width: 68%;left: 47px}
	.looking-visa-right .col-sm-4.col-xs-4{padding: 0;margin-left: 15px;}
	.footer-logo img{width: 50%;}
	.social-media {text-align: center;}
	.footer-nav{border: 0px;}
	.mobile-screen-box {width: 300px;margin: 0 auto;}
	.owl-theme .owl-controls .owl-buttons div{display: none;}	
	.social-media {padding: 35px 0 15px;}
	.social-media ul li a i {font-size: 20px;margin: 0 15px;}
	.footer-bottom{padding-bottom: 20px;}
	.footer-middle-path {padding-bottom: 20px;margin-bottom: 20px;}
	.empty-space-70 {height: 40px;}
	.go-to-top{right: 20px}
	.travel-less-contain .col-md-3.col-sm-6.col-xs-6{width: 100%}
	#search #search-input, #search button{float: none;margin: 0 auto;}
	#search #search-input{margin-bottom: 20px;width: 100%;}
	#search label{left: 17px;}
	#search button{width: auto;}
}
.modal-body {
    position: relative;
    max-height: 400px;
    padding: 15px;
    overflow-y: auto;
    /*background-color: #fff ;*/
}
.error {
    color: red;
}