.header .navbar-inner {
    filter: none !important;
    background-image: none !important;
    background-color: #eeeeee !important;
    height: 70px;	
}
.header .brand img {
    margin: 0px;
}
/*.navbar .nav {
    position: relative;
    left: 0;
    display: block;
    float: left;
    /*margin: 10px 10px 0 0;*/
}*/
.page-full-width .page-content {
    margin-left: 0px !important;
    height: auto;
    margin-top: 25px;
    margin-bottom: 10px;
}
/*.header .hor-menu ul.nav li.active > a, .header .hor-menu ul.nav li.active > a:hover {
    /*background: #e02222 !important;
    background: #27a9e3 !important;
}*/
.tag-primary {
    background-color: #0275d8;
}
.tag {
    display: inline-block;
    padding: 5px 10px;
    font-size: 100%;
    font-weight: 500;
    line-height: 1;
    color: #555555;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 3px;
}
.big-fonts { 
    font-size: x-large;
    font-weight: bolder;
}
.tag-info {
    background-color: #5bc0de;
}
.tag-default {
    background-color: #d2d4d6;
}
.day-name {
    margin-top: 5px;
    font-size: large;
    margin: 20px 100px 0px 0px;
}
.from-time{
	margin-top: 5px;
    font-size: large;
    margin: 20px 100px 0px 0px;
}

.width-100 {
    width: 100px !important;
}
.user-name-label {
    font-size: 30px !important;
    font-weight: 600 !important;
    line-height: 60px !important;
    margin: 10px 10px 0px 20px !important;
}
.class-new-rating {
    margin: 0px 0px 0px 20px !important;
}
.form-horizontal .control-label {
    float: left;
    width: 100px;
    padding-top: 5px;
    text-align: left;
}
.label-from-to{
	display: inline-block;
	margin-top: 7px;
	margin-right: 15px;
}
.header .hor-menu .dropdown-menu {
    margin-top: 0;
    border: none;
    box-shadow: none;
    background: #eeeeee;
}
.header .hor-menu .dropdown-menu li > a {
    color: #999;
    padding: 7px 18px !important;
    margin-bottom: 1px;
}

.header .hor-menu .dropdown-menu li > a:hover, .header .hor-menu .dropdown-menu li:hover > a, .header .hor-menu .dropdown-menu li.active > a {
    color: #fff;
    filter: none !important;
    background: #017DC5 !important;
}
.header .hor-menu ul.nav li a:hover, .header .hor-menu ul.nav li a:focus {
    background: #017DC5;
}

.disp-block {
	display: block !important;
}
.no-margin-left{
	margin-left:0px !important;
}
.red h3{
	background: #cf2a27 !important;
	border-bottom: solid 1px #cf2a27 !important;
}
.red{
	background: #cccccc;	
}
.blue h3{
	background: #2b78e4 !important;
	border-bottom: solid 1px #2b78e4 !important;
}
.blue{
	background: #cccccc;	
}
.green h3{
	background: #009e0f !important;
	border-bottom: solid 1px #009e0f !important;
}
.green{
	background: #cccccc;	
}

.yellow h3{
	background: #ffd966 !important;
	border-bottom: solid 1px #ffd966 !important;
}
.yellow{
	background: #cccccc;	
}

.addbussiness .jFiler-items-grid .jFiler-item .jFiler-item-container .jFiler-item-thumb {
	width: 100px;
	height: auto;
}
.btn-success, .btn-success:hover, .btn-success:focus { 
    background-color: #5bb75b !important; 
}

.portlet,
.dashboard-stat{
    background: #017DC5;
}
.dashboard-stat{
    margin-bottom: 0px;
    padding: 20px;
    display: table;
    width: 100%;
}
.dashboard-stat .visual,
.dashboard-stat .details{
    display: table-cell;
    vertical-align: middle;
    float: none;
}
.dashboard-stat .details .number{
    padding-top: 0px;
    letter-spacing: 0px;
    margin-bottom: 0px;
}
.dashboard-stat .visual{
    width: auto;
    height: auto;
    padding: 0px;
}
.portlet.box > .portlet-body{
    padding: 0px;
    padding-top: 10px;
}
.dataTables_filter label{
    line-height: normal !important;
}
.user-mng select.form-control,
.staffmem select.form-control,
.mangemb select.form-control,
.passport select.form-control,
.countryinfo select.form-control{
    max-width: 300px;
    display: inline-block;
    margin-right: 10px;
}
.user-mng button,
.staffmem button,
.mangemb button,
.passport button,
.countryinfo button{
    vertical-align: top;
}
.biz-user-mng button,
.usrrep button,
.biz-userrep button{
    vertical-align: inherit;
}
.biz-user-mng select.form-control,
.pay-tra input.form-control,
.usrrep select.form-control,
.biz-userrep select.form-control{
    width: 300px;
    margin-right: 10px;
}
.biz-user-mng .form-group,
.pay-tra .form-group,
.usrrep .form-group,
.biz-userrep .form-group{
    display: inline-block;
}
.error .help-small{
    color: red;
}
.success .help-small{
    color: green;
}
.headerInfo.bizdetail{
    margin-left: 0px;
    margin-top: 0px;
}
.bizdetail span.user-info-span{
    float: none;
    display: block;
    margin-left: 0px;
}
.login .content{
    max-width: 350px;
    width: 100%;
}
.login .content .input-icon{
    border-left: none !important;
}
.admin-header{
    background: #f3f3f3;
}
.navbar{
    margin-bottom: 0px;
}
@media (max-width: 767px){
    .user-pic{
	width: 150px;
	margin: 0 auto;
	margin-bottom: 20px;
    }
    .headerInfo.bizdetail .user-name{
	font-size: 16px;
    }
    span.user-info-span{
	font-size: 13px;
    }
    .headerInfo.bizdetail{
	/*text-align: center;*/
    }
}






